<a href="https://colab.research.google.com/github/kpitan022/Intro-To-TKinter-Youtube-Course/blob/master/Introduccion_a_COLAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## COLAB: Hola Mundo!

Hola mundo es un programa que imprime el texto «¡Hola, mundo!» y suele ser usado como introducción al estudio de un lenguaje de programación, siendo un primer ejercicio típico.

In [ ]:
print('Esta es la primer clase de IA')

Esta es la primer clase de IA

## Variables

Las variables sirven para almacenar cualquier tipo de datos. 

Cada variable debe tener un nombre distinto y el mismo no puede tener espacios.

<img src="https://www.aprendeprogramando.es/images/blockly/variables-y-tipos-de-datos/variables-en-programacion.png" height="150" />

In [ ]:
mi_nombre='Paula'

In [ ]:
print(mi_nombre)

Paula

In [ ]:
print('Hola', mi_nombre)

Hola Paula

In [ ]:
numero_1= 20
numero_2= 10

In [ ]:
numero_1 + numero_2

30

In [ ]:
numero_1 - numero_2

10

## Tipos de variables

- Numericas
- Textos (Strings)
- Fecha y hora
- Objetos: DataFrame (muy utilizado en ciencia de datos)

Por si no viene instalado pandas

pip install pandas

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame([[2, 3], [4,5],[1,3]])

   0  1
0  2  3
1  4  5
2  1  3

In [ ]:
tabla1=pd.DataFrame([[2,3], [4,5], [1,3]])

In [ ]:
tabla1

   0  1
0  2  3
1  4  5
2  1  3

Cambiar nombre de las columnas

In [ ]:
tabla1.columns=['Columna1', 'Columna2']

In [ ]:
tabla1

   Columna1  Columna2
0         2         3
1         4         5
2         1         3

Mostrar solo la columna 1

In [ ]:
tabla1.Columna1

0    2
1    4
2    1
Name: Columna1, dtype: int64

Sumar todos los numeros de la primer columna

In [ ]:
tabla1.Columna1.sum()

7

Mostrar el valor maximo de la columna 2

In [ ]:
tabla1.Columna2.max()

5

Mostrar el valor minimo de la columna 1

In [ ]:
tabla1.Columna1.min()

1

Seleccionar la fila 3 de la tabla

In [ ]:
tabla1.iloc[2,]

Columna1    1
Columna2    3
Name: 2, dtype: int64

Seleccionar de la fila 3 el contenido de la primer columna

In [ ]:
tabla1.iloc[2, 0]

1

In [ ]:
tabla1.iloc[:,0]

0    2
1    4
2    1
Name: Columna1, dtype: int64